{% extends 'portfolio/layout.html' %}

{% block main %}
    <style>
        header{
            {% load static %}
            background-image: url("{% static 'portfolio/images/background.jpg' %}");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-attachment: fixed;
            height: 10vh;
        }

        .parallax{
            {% load static %}
             background-image: url("{% static 'portfolio/images/background.jpg' %}");
              /* Set a specific height */
              min-height: 200px;

              /* Create the parallax scrolling effect */
              background-attachment: fixed;
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
        }

        main{
            {% load static %}
            background-image: url("{% static 'portfolio/images/background.jpg' %}");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-attachment: fixed;
            color: aliceblue;
        }
        .caixa {
            height: 50vh;
            background: #f0f8ff69;
            color: black;
            text-align: center;
            font-size: 2rem;
            padding: inherit;
            border-radius: 20px;
            display: flex;
        }
        .home_img img{
            width: 15rem;
            border-radius: 50%;
            margin-top: -36px;
        }

        .home_text p{
            padding: 26px;
            font-size: medium;
        }
        
        .sobre{
            font-size: 26px;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
        
            padding: 50px;
        }

        .video{
            text-align: center;
        }

    </style>
    <div class="caixa">
        <div class="home_img">
            {% load static %}
            <img src="{% static 'portfolio/images/Rafa.jpg' %}" >
        </div>
        <div class="home_text">
            <h3>O meu Portfólio - {{ agora }}</h3>
            <br>
            <p>Ola, o meu nome é Rafael, sou estudante do 2º ano da licenciatura em Engenharia Informática
                e este é o meu portfolio Digital</p>
        </div>
    </div>

    <div class="parallax"></div>

    <div class="sobre">
        <p>Tenho 20 anos, tirei um curso profissional em gestão e programação de sistemas informáticos.
            <br>
            Neste momento estou no segundo ano de Engenharia Informática na Lusofona
        </p>
    </div>

    <div class="parallax"></div>

    <div class="video">
        <p>Video explicativo </p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Dzuiy-JNi-E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="parallax"></div>

{% endblock %}

{% load static %}
<img src="{% static 'portfolio/images/image.png' %}">