{% extends 'portfolio/layout.html' %}

{% block main %}
    <style>
        header{
            {% load static %}
            background-image: url("{% static 'portfolio/images/background.jpg' %}");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-attachment: fixed;
            height: 10vh;
        }

        main{
            {% load static %}
            background-image: url("{% static 'portfolio/images/background.jpg' %}");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-attachment: fixed;
            color: aliceblue;
        }
        .caixa {
            height: 50vh;
            background: #f0f8ff69;
            color: black;
            text-align: center;
            font-size: 2rem;
            padding: inherit;
            border-radius: 20px;
            display: flex;
        }
        .home_img img{
            width: 12em;
            border-radius: 50%;
        }

        .home_teste p{
            padding: 40px;
        }

    </style>
    <div class="caixa">
        <div class="home_img">
            {% load static %}
            <img src="{% static 'portfolio/images/Rafa.jpg' %}" >
        </div>
        <div class="home_teste">
            <h3>O meu Portfólio - {{ agora }}</h3>
            <br>
            <p>Ola, o meu nome é Rafael, sou estudante do 2º ano da licenciatura em Engenharia Informática
                e este é o meu portfolio Digital</p>
        </div>
    </div>

{% endblock %}

{% load static %}
<img src="{% static 'portfolio/images/image.png' %}">