{% extends 'portfolio/layout.html' %}
{% block main %}

    <style>
        *{
            text-align: center;
        }

        .link_labs{
           text-decoration: none;
            color: white;
            background-color: dodgerblue;
            padding: 10px;
            border-radius: 20px;
        }

        .link_labs:hover{
            background-color: #81c5fd;
        }

    </style>

    <h1>Laboratorios</h1>
    <br>
    <a href="https://a22109220-pw-labs.herokuapp.com/" class="link_labs">Clique Aqui</a>

{% endblock %}