{% extends 'portfolio/layout.html' %}


{% block main %}
    {% block titulo %}
    {% endblock %}

    <br>
    <div class="lista">
        <div>
            <div>
                {% block img1 %}

                {% endblock img1 %}
            </div>
            <div>
                {% block text1 %}

                {% endblock text1 %}
            </div>
        </div>
        <div>
            <div>
                {% block img2 %}

                {% endblock img2 %}

            </div>
            <div>
                {% block text2 %}

                {% endblock text2 %}

            </div>
        </div>
        <div>
            <div>
                {% block img3 %}

                {% endblock img3 %}
            </div>
            <div>
                {% block text3 %}

                {% endblock text3 %}

            </div>
        </div>
    </div>
{% endblock main %}
