<!DOCTYPE html>
<html lang="en">
        {% load static %}

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/layout.css' %}">

    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/layout_list.css' %}">

    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/blog.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/css/quizz.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/css/new.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/css/meteorologia.css' %}">
    <script src="{% static 'portfolio/scripts/meteorologia.js' %}"></script>

    <meta charset="UTF-8">
    <title>layout</title>
</head>
<body>
    <header>
        <div>Rafael Rodrigues</div>
        <nav>
          <a href="{% url 'portfolio:home' %}">Home</a>
          <a href="{% url 'portfolio:licenciatura' %}">Licenciatura</a>
          <a href="{% url 'portfolio:projetos' %}">Projetos</a>
          <a href="{% url 'portfolio:blog' %}">Blog</a>
          <a href="{% url 'portfolio:quizz' %}"> Quizz</a>
          <a href="{% url 'portfolio:meteorologia' %}">Meteorologia</a>

          {% if request.user.is_authenticated %}
            <a href="{% url 'portfolio:logout' %}">Logout</a>
          {% else %}
            <a href="{% url 'portfolio:login' %}">Login</a>
          {% endif %}

        </nav>
    </header>
    <main>
        {% block main %}
        {% endblock main %}
    </main>
    <footer>
        <div class="contacts">
            <a href="https://www.linkedin.com/in/rafael-rodrigues-29a6121b6/">
                <img src="{% static 'portfolio/images/linkedin.png' %}" alt="Linkedin"> Linkedin</a>
            <a href="https://github.com/rafaelrodrigues-22109220">
                <img src="{% static 'portfolio/images/github.png' %}" alt="GitHub"> GitHub</a>
        </div>
        <div class="weatherDisplay">
            <image id="weatherImage"></image>
            <h3 class="maxTemp">Max:</h3>
            <h3 class="minTemp">Min:</h3>
        </div>
    </footer>
</body>
</html>