{% extends 'portfolio/layout.html' %}

{% block main %}
    <h3>Licenciatura</h3>
    <br>


    <a href="{% url 'portfolio:new_cadeira' %}" class="button" role="button">+ Nova Cadeira</a>

    <div class="lista">
        {% for cadeira in cadeiras %}
            <div class="caixa_flex_maior">
                <div class="caixa_flex">
                    <div>
                        {% load static %}
                        <img src="{{ cadeira.imagem.url }}">
                    </div>
                    <div>
                        <p><b>Cadeira:</b>{{ cadeira.nome }}
                        <br><b>Assunto:</b>{{ cadeira.assunto }}
                        <br><b>Docente:</b> {{ cadeira.docente.nome}} <b>Linkedin:</b>{{ cadeira.docente.linkedin }}
                        <br><b>Ano:</b> {{ cadeira.ano }} / <b>Semestre:</b>{{ cadeira.semestre }}
                        <br><b>Avaliação:</b> {{ cadeira.avaliacao }}  ⭐</p>
                    </div>

                </div>
                <a href="{% url 'portfolio:edit_cadeira' cadeira.id %}" class="button" role="button">Editar</a>
            </div>
        {% endfor %}
    </div>

{% endblock main %}




