{% extends 'portfolio/layout.html' %}

{% block main %}
    <h3>Licenciatura</h3>

    <br>

    <div class="lista">
        {% for cadeira in cadeiras %}
            <div>
                <div>
                    {% load static %}
                    <img src="{{ cadeira.imagem.url }}">
                </div>
                <div>
                    <p>{{ cadeira.nome }} - {{ cadeira.assunto }}
                    <br> {{ cadeira.docente }}
                    <br> {{ cadeira.ano }} / {{ cadeira.semestre }}
                    <br>{{ cadeira.avaliacao }} ⭐ </p>
                </div>
            </div>
            {% endfor %}
    </div>

{% endblock main %}




