{% extends 'portfolio/layout.html' %}

{% block main %}

<section class="weatherMain">

    <div class="weatherCityInput">
        <input type="text" class="weatherCity">
        <input type="submit" value="Submit" class="weatherSubmitCity">
    </div>

    <div class="weatherDisplay">
        <h3 class="data"></h3>
        <h3 class="maxTemp"></h3>
        <h3 class="minTemp"></h3>
        <h3 class="chuvaProb"></h3>

    </div>

</section>

<script>
    var weatherSubmit = document.querySelector('.weatherSubmitCity')
    var inputValue = document.querySelector('.weatherCity')

    var maxTemp = document.querySelector('.maxTemp')
    var minTemp = document.querySelector('.minTemp')
    var dataTemp = document.querySelector('.data')

    weatherSubmit.addEventListener('click', function(){
        fetch('http://api.ipma.pt/open-data/forecast/meteorology/cities/daily/1110600.json')
            .then(response => response.json())
            .then(data => {
                maxTemp.innerHTML = data['data'][0]['tMax'];
                minTemp.innerHTML = data['data'][0]['tMin'];
                dataTemp.innerHTML = data['data'][0]['forecastDate'];
            })

    })

</script>

{% endblock %}