{% extends 'portfolio/layout.html' %}

{% block main %}
    <h3>Projetos</h3>
    <br>
    <a href="{% url portfolio:new %}" class="button" role="button">+ Nova Cadeira</a>
    <div class="lista">
        {% for projeto in projetos  %}
            <div>
                <div>
                    {% load static %}
                    <img src="{{ projeto.imagem.url }}">
                </div>
                <div>
                    <p><b>{{ projeto.titulo }}</b></p>
                    <p>{{ projeto.descricao }}</p>
                </div>
                <a href="{% url 'portfolio:edit_post' projeto.id %}" class="button" role="button">Editar</a>
            </div>
        {% endfor %}
    </div>

{% endblock main %}