{% extends 'portfolio/layout.html' %}

{% block main %}
    <h3>Projetos</h3>
    <br>

    <div class="lista">
        {% for projeto in projetos  %}
            <div>
                <div>
                    {% load static %}
                    <img src="{{ projeto.imagem.url }}">
                </div>
                <div>
                    <p><b>{{ projeto.titulo }}</b></p>
                    <p>{{ projeto.descricao }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock main %}