{% extends 'portfolio/layout.html' %}

{% block main %}
        <fieldset class="quizz">
            <legend>PW Quizz:</legend>

            <form method="POST" >
                {% csrf_token %}
                <p>Nome: <input type="text" name="nome" placeholder="Indique o seu nome" size="15" maxlength="10" required autofocus></p>

                <section title="number">
                    <label for="numero">Indique em que ano foi criado o primeiro website:</label>
                    <input type="number" id="numero" name="numero" value="1970" min="1970" max="2022" autocomplete="off">
                </section>

                <section title="text">
                    <label for="nomeWeb">Indique quem criou o primeiro website:</label>
                    <input type="nomeWeb" id="nomeWeb" name="nomeWeb" placeholder="nome" autocomplete="off">
                </section>

                <section title="radio">
                    <p>Indique qual é a versão de HTML atualmente usada:</p>
                    <input type="radio" id="html3" name="html" value="html3">
                    <label for="html3">HTML3</label><br>
                    <input type="radio" id="html4" name="html" value="html4">
                    <label for="html4">HTML4</label><br>
                    <input type="radio" id="html5" name="html" value="html5">
                    <label for="html5">HTML5</label><br>
                    <input type="radio" id="html6" name="html" value="html6">
                    <label for="html6">HTML6</label><br>
                </section>

                <section title="checkBoxes">
                    <p>Indique quais destas linguagens de programação são de programação web:</p>
                    <input type="checkbox" id="ling1" name="ling" value="python">
                    <label for="ling1"> Python</label><br>
                    <input type="checkbox" id="ling2" name="ling" value="c++">
                    <label for="ling2"> C++</label><br>
                    <input type="checkbox" id="ling3" name="ling" value="htm-css">
                    <label for="ling3"> HTML & CSS</label><br>
                    <input type="checkbox" id="ling4" name="ling" value="javaScript">
                    <label for="ling4"> JavaScript</label><br>
                </section>

                 <input type="submit" class="button">

            </form>
        </fieldset>
    {% load static %}
    <p class="classificacao"><img src="{% static 'portfolio/images/graf.png' %}" alt="" class="grafico"></p>
{% endblock %}