*{
    box-sizing: border-box;
}

h3{
    text-align: center;
}

.lista{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    align-items: center;

}

.caixa_flex_grande{
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    box-shadow: 5px 5px 15px;
    margin: 10px;

}
.lista img{
    border-radius: 20px 0 0 20px;
    height: 100%;
}

.lista div div:first-child{
   width: 100%;
}

.lista div div:last-child{
    max-width: 300px;
    background-color: white;
    padding: 10px;
    border-radius: 0 20px 20px 0;

    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

    word-break: break-word;
    font-size: 0.8em;
}

.lista div div:last-child p{
    line-height: 1.8;
    text-align: center;
}
