section.weatherSubmitCity{
    text-align: center
}

.weatherCityInput{
    text-align: center;
    border: none;
    padding: 10px;
    border-radius: 10px;
    background: #008ec0;
    color: white;
}